:root {
  --header-heigth: 3rem;

  /* ====================== Colors ====================== */

  /*====================== Change favorite color ====================== */
  --bgb: linear-gradient(
    133deg,
    rgba(255, 255, 255, 1) 30%,
    rgba(0, 123, 255, 1) 100%
  );
  --background: #fff;
  --color-font: #000000;
  --color-font-swap: #fff;
  --color-primery: #007bff;
  --color-secondary: #ffc107;
  --color-active: #ffc107;
  /* ====================== Font and typography ====================== */

  --body-font: "Roboto", sans-serif;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */

  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /* ====================== Font weigth ====================== */

  --font-medium: 500;
  --font-semi-bold: 600;

  /* ====================== Margenes Bottom ======================  */

  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */

  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /* ======================  z index ====================== */
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 100;
}

/* ====================== Fontsize for large devices ====================== */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}
/* Variable DARK THEME */

body.dark-theme {
  --bgb: linear-gradient(
    133deg,
    rgba(0, 0, 0, 1) 50%,
    rgba(255, 193, 7, 1) 100%
  );
  --background: #000000;
  --color-font: #fff;
  --color-font-swap: #000000;
  --color-primery: #ffc107;
  --color-secondary: #007bff;
  --color-active: #007bff;
}

/* BTN DARK/LIGHT */

.nav__btns {
  display: flex;
  align-items: center;
}
.change-theme {
  font-size: 1.5rem;
  color: var(--color-font);
  margin-right: var(--mb-1);
  cursor: pointer;
}

.change-theme:hover {
  color: var(--color-primery);
}

/* ====================== BASE ====================== */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0 0 var(--header-heigth);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background: var(--bgb);
  color: var(--color-font);
}
h1,
h2,
h3,
h4 {
  color: var(--color-font);
  font-weight: var(--font-semi-bold);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  height: auto;
}
.btn {
  background: none;
}
.show {
  display: flex !important;
}
html,
body {
  /* Убирает прокрутку по горизонтале, для мобильной версии */
  overflow-x: hidden;
}
.fullvh {
  height: 100vh;
}
.preloader {
  /*фиксированное позиционирование*/
  position: fixed;
  /* координаты положения */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* фоновый цвет элемента */
  background: var(--bgb);
  /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  animation: preloader-scale 2s infinite ease;
}

.preloader__item {
  position: absolute;
  display: block;
  top: 0;
  border-radius: 100%;
  width: 70px;
  height: auto;
}

@keyframes preloader-scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

/* ====================== REUSEBLE CSS CLASSES ====================== */
.section {
  padding: 1rem 0 2rem;
}
.section__title {
  font-size: var(--h2-font-size);
  color: var(--color-primery);
}
.section__title {
  text-align: center;
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-1);
}
/* ====================== LAYOUT ====================== */
.header {
  background-color: var(--background);
}
.container {
  max-width: 1024px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}
.grid {
  display: grid;
  gap: 1.5em;
}
.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--background);
}
/*==================== NAV ====================*/

.nav {
  max-width: 968px;
  height: var(--header-heigth);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo,
.nav__toggle {
  color: var(--color-font);
  font-weight: var(--font-medium);
}
.logo {
  width: 40px;
}

.nav__toggle {
  font-size: 1.5rem;
  cursor: pointer;
}

.nav__toggle:hover {
  color: var(--color-primery);
}
@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--background);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: 0.3s;
  }
}
.nav__list {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--color-font);
  font-weight: var(--font-medium);
}
.nav__link:hover {
  color: var(--color-primery);
}
.nav__icon {
  font-size: 2rem;
}

.nav__close {
  position: absolute;
  right: 1.3rem;
  bottom: 0.5rem;
  font-size: 2rem;
  cursor: pointer;
  color: var(--color-font);
}
.nav__close:hover {
  color: var(--color-primery);
}

/* show menu */
.show-menu {
  bottom: 0;
}
/* Active link */
.active-link {
  color: var(--color-primery);
}
/* Change background header */
.scroll-header {
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.4);
}

/*==================== HOME ====================*/
/*==================== HOME ====================*/
.home__content {
  grid-template-columns: 0.5fr 3fr;
  padding-top: 3.5rem;
  align-items: center;
}

.home__title {
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-2);
  color: var(--color-font);
}
.home__scroll {
  display: none;
}

.home__scroll-button {
  color: var(--first-color);
  transition: 0.3s;
}

.home__scroll-button:hover {
  transform: translateY(0.25rem);
}

.home__scroll-mouse {
  font-size: 2rem;
}

.home__scroll-name {
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-right: var(--mb-0-25);
}

.home__scroll-arrow {
  font-size: 1.25rem;
}
/*==================== HOME ====================*/
/*==================== BUTTONS ====================*/

.button {
  background: none;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5;
  color: var(--black);
  border: 1px solid var(--color-primery);
  border-radius: 0.25rem;
  cursor: pointer;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.button:hover {
  color: var(--black);
  background-color: var(--color-primery);
}

.button--flex {
  display: inline-flex;
  align-items: center;
}
/*==================== Service ====================*/

.service__info {
  margin-top: var(--mb-1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.service__icon {
  font-size: 3rem;
  margin-bottom: var(--mb-1);
}

.service__title {
  font-size: var(--h2-font-size);
}
.service__description {
  margin-top: var(--mb-1);
  text-align: center;
  color: var(--text-color);
}
/*==================== Service ====================*/
/*==================== about ====================*/
.about__container {
  margin-bottom: var(--mb-3);
}
/*==================== about ====================*/
/*==================== WORKS ====================*/
.works {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}
.gallery-item {
  width: 200px;
  padding: 5px;
}
/*==================== WORKS ====================*/
/*==================== Projects ====================*/
.project__item {
  border: 1px solid var(--color-primery);
  padding: 1rem;
  margin-bottom: var(--mb-2);
  display: flex;
  flex-direction: column;
  width: 100%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.project__main {
  display: flex;
  justify-content: start;
  position: relative;
}

.project__info {
  display: flex;
  flex-direction: column;
  margin-top: var(--mb-1);
  margin-left: var(--mb-2);
  height: fit-content;
}
.project__title {
  margin-bottom: var(--mb-1);
}
.project__subtitle {
  font-size: var(--normal-font-size);
}
.dropdown__icon {
  font-size: 2rem;
}
.project__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: var(--mb-2);
  overflow: hidden;
  height: 0;
  transition: 0.5s ease-in-out;
}
.project__item.active .project__description {
  height: auto;
}
.project__item.active .arrow__down {
  transform: rotate(180deg);
}
.project__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.project__desc--list {
  list-style: none;
  margin-bottom: var(--mb-1);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project__desc--text {
  margin-bottom: var(--mb-0-25);
}
.arrow__down {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
/*==================== Projects ====================*/
/*==================== CONTACT ME ====================*/
.info__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--mb-1);
}
.contact__link {
  font-size: var(--h2-font-size);
}

.contact__information {
  margin-bottom: var(--mb-2);
}
.contact__title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1);
}
.contact__content {
  background-color: var(--color-primery);
  border-radius: 0.5rem;
  padding: 0.75rem 1rem 0.25rem;
}

.contact__label {
  font-size: var(--smaller-font-size);
  color: var(--color-font-swap);
}

.contact__input {
  width: 100%;
  background-color: var(--color-primery);
  color: var(--color-font);
  font-family: var(--normal-font-size);
  border: none;
  outline: none;
  padding: 0.25rem 0.5rem 0.5rem 0;
}
/*==================== CONTACT ME ====================*/
/*==================== FOOTER ====================*/

.footer {
  padding-top: 2rem;
}
.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-0-25);
}
.footer__subtitle {
  font-size: var(--small-font-size);
}

.footer__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
}
.footer__link {
  color: var(--color-font);
}

.footer__link:hover {
  color: var(--color-primery);
}

.footer__copy {
  font-size: var(--smaller-font-size);
  text-align: center;
  color: var(--text-color-light);
  margin-top: var(--mb-3);
}

/*========== SCROLL UP ==========*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  background-color: var(--color-primery);
  opacity: 0.8;
  padding: 0 0.3rem;
  border-radius: 0.4rem;
  z-index: var(--z-tooltip);
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.5);
  transition: 0.4s;
}
.scrollup:hover {
  background-color: var(--color-secondary);
}

.scrollup__icon {
  font-size: 2rem;
  color: var(--color-font);
}

/* Show scroll */

.show-scroll {
  bottom: 5rem;
}
/*========== SCROLL UP ==========*/
/*========== Swiper ==========*/
.cooperations {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  overflow: hidden;
}
.swiper-wrapper {
  text-align: center;
  align-items: center;
}
.company__logo {
  max-width: 100%;
  height: auto;
}
/*========== Swiper ==========*/

/*==================== MEDIA QUERIES ====================*/
/* For small devices */
@media screen and (max-width: 567px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
  .nav__menu {
    padding: 2rem 0.25rem 4rem;
  }
  .nav__list {
    column-gap: 0;
  }
  .home__data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .home__title {
    font-size: var(--h1-font-size);
  }
  .button--flex {
    width: 100%;
    display: block;
    padding: 1rem;
  }
  .services__container {
    grid-template-columns: max-content;
    justify-content: center;
  }
  .services__content {
    padding-right: 3.5rem;
  }
  .project__data {
    display: flex;
    flex-direction: column;
  }
  .project__item {
    border: 1px solid var(--color-primery);
    padding: 1rem;
    margin-bottom: var(--mb-2);
    display: flex;
    flex-direction: column;
    min-width: 250px;
  }
  .project__item.active .project__description {
    height: auto;
  }
  .project__main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .project__img {
    width: 200px;
  }
  .project__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
  }
  .images__gallery--item {
    width: 85px;
  }
  .message {
    font-size: 0.7rem;
    pointer-events: none;
  }
  .empty__img {
    margin-left: 25%;
    width: fit-content;
  }

  .footer__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer__links {
    flex-direction: column;
    gap: var(--mb-2);
  }
  .footer__copy {
    margin-top: 4.5rem;
  }
}
/* For medium devices */
@media screen and (min-width: 568px) {
  .home {
    height: 100vh;
  }
  .home__content {
    grid-template-columns: max-content 1fr 1fr;
  }
  .home__data {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .button--flex {
    width: 100%;
    display: block;
    padding: 1rem;
  }
  .project__data {
    display: flex;
    flex-direction: column;
  }
  .project__main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .project__img {
    width: 400px;
  }
  .project__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
  }
  .images__gallery--item {
    width: 150px;
  }
  .message {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    pointer-events: none;
  }
  .empty__img {
    margin: 0 auto;
    width: fit-content;
  }
  .contact__container {
    display: flex;
    flex-direction: column;
  }
  .contact__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contacts__inputs {
    width: 400px;
  }
  .footer__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer__links {
    flex-direction: column;
    gap: var(--mb-2);
  }
  .footer__copy {
    margin-top: 4.5rem;
  }
}
@media screen and (min-width: 768px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  body {
    margin: 0;
  }
  .section {
    padding: 1rem 0 2rem;
  }
  .header {
    top: 0;
    bottom: initial;
  }

  .header,
  .main,
  .footer__container {
    padding: 0 1rem;
  }

  .nav {
    height: calc(var(--header-heigth) + 1.5rem);
    column-gap: 1rem;
  }
  .nav__icon,
  .nav__close,
  .nav__toggle {
    display: none;
  }
  .nav__list {
    display: flex;
    column-gap: 2rem;
  }

  .nav__menu {
    margin-left: auto;
  }

  .change-theme {
    margin: 0;
  }
  .home {
    height: 100vh;
  }
  .home__container {
    row-gap: 5rem;
  }
  .about__container {
    column-gap: 5rem;
  }
  .services__container {
    grid-template-columns: repeat(3, 218px);
    justify-content: center;
  }
  .services__icon {
    font-size: 2rem;
  }

  .contact__container {
    display: flex;
    flex-direction: column;
  }
  .contact__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contacts__inputs {
    width: 400px;
  }
  .footer__links {
    flex-direction: row;
    gap: var(--mb-2);
  }
  .footer__copy {
    margin-top: 4.5rem;
  }
}
/* For large devices */
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .header,
  .main,
  .footer__container {
    padding: 1rem;
  }
  .logo {
    width: 100px;
  }
  .nav__link {
    font-size: var(--h3-font-size);
  }
  .home {
    height: 100vh;
  }
  .home__data {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .home__title {
    font-size: var(--h1-font-size);
  }
  .button--flex {
    width: fit-content;
  }
  .service__data {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 100px;
  }
  .service__info {
    align-items: center;
    width: 250px;
    justify-content: space-between;
  }
  .service__title,
  .service__subtitle {
    font-size: var(--h3-font-size);
  }
  .service__description {
    font-size: var(--smaller-font-size);
  }
  .project__item {
    border: 1px solid var(--color-primery);
    padding: 1rem;
    margin-bottom: var(--mb-2);
    display: flex;
    flex-direction: column;
    width: 100%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }

  .project__main {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .img__wrapper {
    width: auto;
  }
  .project__img {
    width: 200px;
  }
  .project__info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    margin-top: var(--mb-1);
    margin-left: var(--mb-2);
  }
  .project__title {
    margin-bottom: var(--mb-1);
  }
  .dropdown__icon {
    font-size: 2rem;
  }
  .project__description {
    margin-top: var(--mb-2);
    margin-left: var(--mb-2);
    overflow: hidden;
    height: 0;
    transition: 0.5s ease-in-out;
  }
  .project__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .project__item.active .project__description {
    height: auto;
  }
  .project__item.active .arrow__down {
    transform: rotate(180deg);
  }
  .project__desc--text {
    font-size: var(--normal-font-size);
  }
  .images__gallery--item {
    width: 100px;
    margin-right: 1rem;
  }
  .contact__container {
    display: flex;
    flex-direction: column;
  }
  .contact__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contacts__inputs {
    width: 400px;
  }
}
/* popup */
.popup {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
}
.popup-is-active {
  opacity: 1;
  visibility: visible;
}
.popup-wrapper {
  display: table;
  height: 100%;
  width: 100%;
}
.popup-inner {
  display: table-cell;
  vertical-align: middle;
  padding: 50px 0;
}
.popup-content {
  background: var(--bgb);
  padding: 70px 20px;
  max-width: 730px;
  margin: 0 auto;
  position: relative;
  border-radius: 20px;
}
.popup-content-fluid {
  padding-left: 0;
  padding-right: 0;
}
.popup-content-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popup-btn-close {
  position: absolute;
  top: 20px;
  right: 20px;
}

/* popup-title */
.popup-title {
  align-items: center;
  margin-bottom: 20px;
}
.popup-subtitle {
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
}
.popup-subtitle-order {
  max-width: 360px;
  margin: 0 auto 40px;
}
/* popup-title */

/* popup-mobile-menu */
.popup-phone {
  margin-bottom: 40px;
}
.popup-mobile-menu {
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .popup-inner {
    padding: 0;
  }

  .popup-content {
    max-width: 100%;
    border-radius: 0;
    height: 100%;
    padding-top: 100px;
  }
  .popup-subtitle {
    font-size: 18px;
    max-width: 260px;
  }
  .popup-subtitle-order {
    max-width: 260px;
  }
}
/* popup-mobile-menu */
/* form */
.form-input {
  display: block;
  width: 100%;
  padding: 20px 28px;
  background: #f7f7f7;
  border-radius: 32px;
  margin-bottom: 8px;
  border: 2px solid transparent;
  outline: none;
}
.form-input:focus {
  border-color: #ffa650;
}
/* form */
.form-btn {
  box-shadow: none;
  width: 100%;
  background: #ffa650;
  padding: 22px 28px;
  border-radius: 50px;
}

/* popup */

/* .btn-close */

.btn-close {
  border: none;
  cursor: pointer;
  background: none;
  padding: 0;
  width: 50px;
  height: 50px;
  display: inline-block;
  transition: transform 0.2, opacity 0.2;
}
.btn-close:hover {
  transform: scale(1.1);
}
.btn-close:active {
  transform: scale(0.9);
  opacity: 0.8;
}
.btn-close::before,
.btn-close::after {
  content: "";
  background: #d2d2d2;
  height: 40px;
  width: 3px;
  position: absolute;
  border-radius: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.btn-close::before {
  transform: translateY(-50%) rotate(45deg);
}
.btn-close::after {
  transform: translateY(-50%) rotate(-45deg);
}
